<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Page d'acceuil</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">Système de contrôle<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/sysControl/panneauRAM">Panneau RAM</a></li>
        <li><a href="/sysControl/melangeur">Mélangeur</a></li>
        <li><a href="/sysControl/powerMeter">Power Meter</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">Error tests<span class="caret"></span></a>
      <ul class="dropdown-menu">
      <li><a href="/camera/1">Error 500</a></li>
      <li><a href="/camera/2">Error 404</a></li>
      </ul></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">Server management<span class="caret"></span></a>
      <ul class="dropdown-menu">
      <li><a href="/gestion/alarmes">Alarms</a></li>
      <li><a href="/gestion/users" title="">Users</a></li>
      <li><a href="/gestion/logfile" title="">Logs</a></li>
    </ul></li>
    <li class="dropdown">
      <% if ( typeof Username !== 'undefined' && Username ) { %>
        <a class="dropdown-toggle" data-toggle="dropdown"><%= Username %><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/users/logout" title="">Logout</a></li>
      <% } else { %>
        <a class="dropdown-toggle" data-toggle="dropdown">Guest<span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="/users/login" title="">Login</a></li>
          <li><a href="/users/signup" title="">Signup</a></li>
      <% } %>
    </ul></li>
  </ul>
</nav>
