a {
  color: black;
}

html {
  width: 70%;
  display: table;
  margin: auto;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  background-color: #ECEFF1;
  display: table-cell;
  text-align:center;
  vertical-align: middle;
}
form {
  margin : 0 auto;
  text-align: center;
  position: relative;
  padding-top: 80px;
}
label,
input {
  display: block;
}
label {
  font-size: 18px;
  color: black;
}
input {
  padding: 10px;
  outline: 0;
  border: 2px solid #B0BEC5;
}
input:invalid {
  border-color: #DD2C00;
}
select {
  padding: 10px;
  outline: 0;
  border: 2px solid #B0BEC5;
}
table {
  margin: 0 auto;
}

#maTable {
  border-collapse: collapse;
}

#maTable td {
  padding-top: .5em;
  padding-bottom: .5em;
}

#notify {
  margin-top: 5px;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#notify.error {
  background-color: #DD2C00;
}

#cuteList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#cuteList td, #cuteList th {
    border: 2px solid #ddd;
    padding: 8px;
}

#cuteList tr:nth-child(even){background-color: #f2f2f2;}

#cuteList tr:hover {background-color: #ddd;}

#cuteList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000c44;
    color: white;
}

#changeUser {
  display: block;
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 2px solid black;
  margin-bottom: 10px;
  background-color: #B0BEC5;
}

#supprimer {
  display: block;
  width: 100%;
  padding: 10px;
  outline: 0;
  margin-bottom: 10px;
  background-color: #B0BEC5;
  border: 2px solid #DD2C00;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .container > .navbar-header > a:hover {
color: #FFF;  /*Sets the text hover color on navbar*/
}

.navbar-default  .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus, .container > .navbar-header > a {
color: white; /*BACKGROUND color for active*/
background-color: #000c44;
}

  .navbar-default {
    background-color: #000c44;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #000c44;
   text-decoration: none;
  background-color: #B0BEC5;  /*change color of links in drop down here*/
   }

.container > div > a:hover,
.container > div > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #030033; /*Change rollover cell color here*/
}


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
  }
