<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
	<h1 align="center"><%= status %> - <%= message %></h1>
  </body>
	<footer>
	  <% include ../partials/footer %>
	</footer>
</html>
