<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
