<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Login</h1>
        <table width="30%" border="0" cellpadding="0" cellspacing="0">
          <form name="form" action="/users/login" method="post">
            <tr>
              <td><label for="username">Username</label></td>
              <td><input type="text" name="username" placeholder="Username" pattern="[a-zA-Z0-9-\s]{1,50}" id="username" required></td>
            </tr>
            <tr>
              <td><label for="password">Password</label></td>
              <td><input type="password" name="password" placeholder="Password" pattern="[a-zA-Z0-9]{1,50}" id="password" required></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit"></td>
            </tr>
          </form>
        </table>
      </div>
    </main>
  </body>
  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
