<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
		<main>
			<div class="jumbotron">
				<h1>Nouveau utilisateur</h1>
				<table width="50%" border="0" cellpadding="0" cellspacing="0">
					<% var url="/users/signup" %>
					<form name="form" action=<%= url %> method="post">
						<tr>
							<td><label for="username">Username</label></td>
							<td><input type="text" name="username" placeholder="Username" pattern="[a-zA-Z-\s]{1,50}" id="username" required></td>
						</tr>
						<tr>
							<td><label for="email">E-mail</label></td>
							<td><input type="email" name="email" placeholder="E-mail" id="email" required></td>
						</tr>
						<tr>
							<td><label for="password">Password</label></td>
							<td><input type="password" name="password" placeholder="Password" pattern="[a-zA-Z0-9]{1,50}" id="password" required></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit"></td>
						</tr>
					</form>
				</table>
			</div>
		</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</html>